.App {
  text-align: center;
}

.App-header {
  display: flex;
  color: black;
  min-height: 40px;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
}

.app-button {
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #007bff;
}

.cards-container {
  gap: 20px;
  width: 100%;
  padding: 20px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}